
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6347;
}

.game-container {
    margin-top: 20px;
}

.matchup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.animal {
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.animal:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 99, 71, 0.5);
}

.animal img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: block !important;
}

.vs {
    font-size: 2em;
    color: #ff6347;
    font-weight: bold;
}

.ranking-container {
    margin-top: 30px;
}

#ranking-list {
    list-style-type: none;
    padding: 0;
}

#ranking-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}
